section {
  padding: 8rem 0;
  position: relative;
  color: $dark-blue-text;

  @include respond(phone) {
    padding: 5rem 0;
  }

  .row {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1.1fr 1fr;
    align-items: start;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
    padding: 0 1.5rem;
    @include respond(phone) {
      padding: 0;
    }
    & p + p {
      margin-top: 1.6rem;
    }
    & span {
      margin-top: 2.4rem;
    }
  }
}

.section--light {
  background: rgba($light-white, 0.96);
  backdrop-filter: blur(12px);
}

.container {
  width: 100%;
  padding: 0 2.4rem;
  margin: 0 auto;
  max-width: 1140px;
  @include respond(tab-land) {
    max-width: 960px;
  }
  @include respond(tab-port) {
    max-width: 720px;
  }
  @include respond(phone) {
    max-width: 540px;
    padding: 0 1.6rem;
  }
}
